<nav class="navbar-container">
  <div class="menu-container">
    <div class="menu">
      <div class="mobile">
        <!-- Mobile menu button -->
        <button type="button" class="hamburger focus:ring-2 focus:ring-indigo-500 focus:outline-hidden focus:ring-inset" aria-controls="mobile-menu" aria-expanded="false"
                (click)="mobileMenuHidden = !mobileMenuHidden">
          @if (mobileMenuHidden) {
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
          } @else {
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
            </svg>
          }
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <img [routerLink]="'/home'" class="h-24 w-auto" src="assets/NLT%20Simple%20Logo%20Black.png" alt="Next Level Tech">
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <a [routerLink]="'/blog'" class="hamburger-menu-item" [ngClass]="{'active': isCurrentPage('blog')}">Blog</a>
          <a [routerLink]="'/team'" class="hamburger-menu-item" [ngClass]="{'active': isCurrentPage('team')}">Team</a>
          <a [routerLink]="'/projects'" class="hamburger-menu-item" [ngClass]="{'active': isCurrentPage('projects')}">Projects</a>
          <a [routerLink]="'/about'" class="hamburger-menu-item" [ngClass]="{'active': isCurrentPage('about')}">About</a>
          <a [routerLink]="'/contact'" class="hamburger-menu-item" [ngClass]="{'active': isCurrentPage('contact')}">Contact</a>
        </div>
      </div>
    </div>
  </div>

  @if (!mobileMenuHidden) {
    <div class="sm:hidden absolute top-[3rem] left-0 w-full" id="mobile-menu">
      <div class="space-y-1 pt-2 pb-4">
        <a [routerLink]="'/blog'" class="block border-l-4 border-indigo-500 bg-indigo-50 py-2 pr-4 pl-3 text-base font-medium text-indigo-700">Blog</a>
        <a [routerLink]="'/team'"
           class="block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">Team</a>
        <a [routerLink]="'/projects'"
           class="block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">Projects</a>
        <a [routerLink]="'/about'"
           class="block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">About</a>
      </div>
    </div>
  }
</nav>
