<div class="min-h-[100vh]">
  <app-navbar/>
  <div class="sm:min-h-[85vh] min-h-[75vh]">
    <router-outlet/>
  </div>
  <div class="hidden md:block sticky bottom-0 left-0">
    <app-footer/>
  </div>
</div>

@if (isOpen$ | async) {
  <div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center">
    <!-- Modal Box -->
    <div class="bg-white rounded-lg shadow-xl w-96 p-6 relative">

      <!-- Close Button -->
      <button (click)="closeModal()" class="absolute top-3 right-3 text-4xl text-gray-500 hover:text-gray-700">
        ✕
      </button>
      <app-login-form/>
    </div>
  </div>
}
